@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0;
  /* position: fixed; */
  /* overflow: hidden; */
  overflow-y: scroll;
  width: 100%;
}
header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: auto;
}

footer {
  grid-area: footer;
}

/* header {
  position: sticky;
  top: 0;
}

footer {
  position: sticky;
  bottom: 0;
}

main {
  overflow-y: scroll;
} */
